<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>BGP Tests</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" -->

</head>

<body style="background: #fff;">
 <div class="login">
	<h1>Run Tests</h1>

    <form action="{{ url_for('login')}}"method="post">
	    Router IP1: <input type="text" name="r1_ip">
		<br>
		<br>
		Router IP2: <input type="text" name="r2_ip">
		<br>
		<br>
		Device Type: <select name="device_type">
		    <option value="cisco_ios">Cisco IoS</option>
		</select>
		<br>
		<br>
		<input type="Radio" name="test" id="setup" value="setup" onclick="return  ValidateSelection();">
        <label for="setup">Setup</label>
		<br>
		<input type="Radio" name="test" id="cleanup" value="cleanup" onclick="return  ValidateSelection();">
        <label for="cleanup">cleanup</label>
		<br>
		<input type="Radio" name="test" id="test" value="test" onclick="return  ValidateSelection();">
        <label for="test">test</label>
		<br>
		<input type="Radio" name="test" id="all" value="all" onclick="return  ValidateSelection();">
        <label for="all">all</label>
		<br>
		<br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>

   <br>
   <br>
   {{ entered_values }}

 </div>


</body>
</html>
